<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CHAT-CLUB</title>
</head>
<body>

    <% if (user) {%>

        <h1>WELCOME BACK <%= user.first_name + " " + user.last_name %></h1>
        <a href="/log-out">LOG OUT</a>

        <br>

        <form action="/join-club" method="POST">

            <div>
                
                <label for="key">Enter Secret Key</label>
                <input id="key" name="key" type="text">
            
                <input type="submit" value="JOIN CLUB">
            </div>

        </form>

        <form action="/message/add-message" method="POST">
            <h1>Write Message</h1>
            
             <div>
                <label for="title">Title: </label>
                <input id="title" name="title" type="text">
            </div>

             <div>
                <label for="content">Message: </label>
                <input id="content" name="content" type="text">
            </div>

            <input type="submit" value="Send Message">

        </form>



        <!-- All Messages -->
        
        <% messages.forEach(message => { %>
        <div>
            <h2><%= message.title %></h2>
            <p><%= message.content %></p>
            <% if (user && user.membership_status) { %>
                <p>By: <%= message.first_name %> <%= message.last_name %></p>
                <p>Date: <%= message.timestamp %></p>
            <% } %>
        </div>
        <% }) %>




     <% } else { %>

        <h1>please log in</h1>

         <%- include('partials/errors.ejs') %>

        <form action="/log-in" method ="POST">

            <div>
                <label for="username">Username</label>
                <input id="username" name="username" type="email" placeholder="Enter email address">

            </div>
            <div>
                <label for="password">Password</label>
                <input id="password" name="password" type="password">
            </div>

            <input type="submit" value="Login">

        </form>

    <%}%>



    <!-- <h1>"Welcome to the Club"</h1> -->

    <p>Do not have an account <a href="/sign-up">Sign Up</a> Here.</p>
</body>
</html>